package dayXX

import (
	"advent2022-go/helpers"
	"strings"
	"testing"
)

const example string = ``

func TestRun(t *testing.T) {
	t.Run("Run function part A", func(t *testing.T) {
		expect := "0"
		got := DayXX{}.Run(strings.NewReader(example), helpers.PartA)
		helpers.CheckString(t, expect, got)
	})
	t.Run("Run function part B", func(t *testing.T) {
		expect := "0"
		got := DayXX{}.Run(strings.NewReader(example), helpers.PartB)
		helpers.CheckString(t, expect, got)
	})
}
